.head-credential {
  display: flex;
  align-items: center;
  padding: $small-spacing;
}

.logo-head {
  padding-right: $small-spacing;
  width: 25%;
  height: 25%;
  @include media($medium-screen-up) {
    padding-right: $base-spacing;
    width: 15%;
  }
  @include media($large-screen-up) {
    padding-right: $base-spacing;
    width: 12%;
  }
}

.projects {
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 margin: -$small-spacing;
}

.horizontal {
  height: 270px;
  @include media($medium-screen-up) {
    height: 500px;
  }
  @include media($large-screen-up) {
    height: 850px;
  }
}

.vertical {
  height: 600px;
  @include media($medium-screen-up) {
    height: 1000px;
  }
  @include media($large-screen-up) {
    height: 1700px;
  }
}

#penultimo {
  background-image: url("../img/201702_MD_Salone-Ludico_Penultimo©HEAD_MichelGiesbrecht_005.jpg");
}

#ximoan {
  background-image: url("../img/201702_MD_Salone-Ludico_Ximoan©HEAD_MichelGiesbrecht_001.jpg");
}

#penumbra {
  background-image: url("../img/201702_MD_Salone-Ludico_Penumbra©HEAD_MichelGiesbrecht_002.jpg");
}

#gravity {
  background-image: url("../img/201702_MD_Salone-Ludico_Gravity©HEAD_MichelGiesbrecht_001.jpg");
}
