.main {
  @include outer-container;
    padding: 0 $base-spacing;
  @include media($medium-screen-up) {
    padding: 0 $base-spacing * 2;
  }
  @include media($large-screen-up) {
    padding: 0 $base-spacing * 3;
  }
}

.presentation {
  margin: $base-spacing 0;
  @include media($medium-screen-up) {
    margin: $base-spacing * 4 0 $base-spacing * 2;
  }
}

.presentation-wrapper {
  @include media($medium-screen-up) {
    display: flex;
  }
}

.to-twitter {
  padding-right: $base-spacing * 3;
  margin-bottom: $small-spacing;
}

.project-wrapper {
  @include media($medium-screen-up) {
    margin-bottom: $base-spacing;
  }
  @include media($large-screen-up) {
    margin-bottom: $base-spacing * 2;
  }
}

.text {
  @include media($large-screen-up) {
    @include span-columns(6);
  }
}

.exhibition-information {
  margin: 0 0 $base-spacing;
}

.info-wrapper {
  @include media($medium-screen-up) {
    display : flex;
  }
}

.info-container {
  @include media($medium-screen-up) {
    @include span-columns(4);
  }
}

.side-project {
  @include media($medium-screen-up) {
    display: -webkit-flex;
    display: flex;
  }
}

.side-project-wrapper {
  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}

.side-presentation-wrapper {
  @include media($large-screen-up) {
    display: -webkit-flex;
    display: flex;
  }
}

.side-to-twitter {
  margin-bottom: $small-spacing;

  @include media($large-screen-up) {
    padding-right: $base-spacing;
  }
}

footer {
  @include outer-container();
  margin: $small-spacing 0 $base-spacing;
  @include media($medium-screen-up) {
    margin: $base-spacing 0 $base-spacing * 2;
  }
  @include media($large-screen-up) {
    margin: $base-spacing * 2 0 $base-spacing * 4;
  }
}

.head-credential {
  @include media($medium-screen-up) {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
  }
  @include media($large-screen-up) {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.direction-credits {
  @include media($medium-screen-up) {
    display: -webkit-flex;
    display: flex;
  }
}

li {
  margin-bottom: $base-spacing;
  @include media($medium-screen-up) {
    @include span-columns(3);
  }
}

.additionnal-wrapper {
  @include media($medium-screen-up) {
    width: 100%;
  }
  @include media($large-screen-up) {
    @include span-columns(2);
  }
}

.social-networks {
  @include media($medium-screen-up) {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: top;
    justify-content: space-between;
    align-items: top;
    margin: $base-spacing * 2 0;
  }
}

.social-logo-container {
  display: -webkit-flex;
  -webkit-justify-content: center;
  display: flex;
  justify-content: center;
  @include media($medium-screen-up) {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
