.logo-head {
  padding-right: $small-spacing;
  width: 30%;
}

.img-head {
  @include media($medium-screen-up) {
    padding-bottom: $small-spacing;
    width: 15%;
  }
  @include media($large-screen-up) {
    width: 12%;
  }
}

.projects {
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 margin: -$small-spacing;
  @include media($medium-screen-up) {
  }
  @include media($large-screen-up) {
  }
}

.horizontal {
  height: 220px;
  @include media($medium-screen-up) {
    height: 520px;
  }
  @include media($large-screen-up) {
    height: 860px;
  }
}

.vertical {
  height: 470px;
  @include media($medium-screen-up) {
    height: 1160px;
  }
  @include media($large-screen-up) {
    height: 1930px;
  }
}

#penultimo {
  background-image: url("../images/201702_MD_Salone-Ludico_Penultimo_HEAD_MichelGiesbrecht_005.jpg");
}

#ximoan {
  background-image: url("../images/201702_MD_Salone-Ludico_Ximoan_HEAD_MichelGiesbrecht_001.jpg");
}

#penumbra {
  background-image: url("../images/201702_MD_Salone-Ludico_Penumbra_HEAD_MichelGiesbrecht_002.jpg");
}

#gravity {
  background-image: url("../images/201702_MD_Salone-Ludico_Gravity_HEAD_MichelGiesbrecht_001.jpg");
}
