// bower:scss
// endbower
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "fontface";
@import "parallax";
@import "space";
@import "text";
@import "img";
<<<<<<< HEAD:app/styles/main.scss


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
=======
@import "video";
>>>>>>> a225092a0f4aaf373eafa71da79a43a808b61288:stylesheet/style.scss
